<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Would ROS benefit from a multicore processor like Epiphany or XMOS?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-783" class = "post">
			<h2>Question</h2>
			<div id="vote-783" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 672</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Would ROS benefit from a multicore processor like Epiphany or XMOS?</h2>
<p>I am looking for a good embedded PC to run ROS on. I recently came across a couple of little machines using new very multi-core processors, such as the <a href="http://www.kickstarter.com/projects/adapteva/parallella-a-supercomputer-for-everyone" rel="nofollow">Epiphany</a> and the <a href="http://www.xmos.com/" rel="nofollow">XMOS</a>.</p>

<p>Since the one thing that ROS really seems to want is cores, would ROS be able to take advantage of all of these cores? Or are they all just too feeble with too little RAM to be of any use?</p>

<p>Would it make more sense to focus on machines with fewer, more powerful cores?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-783" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-783">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-783" class = 'collapse'>
			</div>
				<textarea id = "speech-783" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-783">
					<img id="start_img-783" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-783">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-784"  class = "post">
				<h2>Answer</h2>
			<div id="vote-784" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Short answer; it depends.</p>

<p>ROS is a framework that can support multiple cores, but it is up to the ROS modules themselves to thrive in a multi-core environment. You can NOT expect ROS to automatically use all the cores, but if your software is written in a way that they can be used, then ROS will accommodate them.</p>

<p>A little generic history; There was a way that program processes used to talk to each other within a computer. Soon that grew into a method where those process could communicate within the same computer or on to a physically separate computer. And then high efficiency versions of that became the basis for ROS and <a href="https://www.microsoft.com/robotics/" rel="nofollow">Microsoft RDS</a>. Microsoft found the project so successful they merged it with an existing technology <a href="http://en.wikipedia.org/wiki/SOAP" rel="nofollow">SOAP</a>, and developed <a href="http://en.wikipedia.org/wiki/Windows_Communication_Foundation" rel="nofollow">WCF</a>. The part you probably do not know is that WCF is being implemented as a processor to processor and/or sub-processor communication protocol on the hardware bus (with strong focus on robotic potential). The point is, that the message switching architectures pioneered by ROS and MRDS are super robust to the point where something similar will probably power hardware a generation or 2 from now.</p>

<p>Yes, by all means, use multi-core as much as possible. If you write code today that doesn't consider async and multi-core you might as well choose a different career path. There is little difference to writing well for 4 heavy cores, or 2000 small ones. Some difference, but if you know how to do one, you probably understand how to do the other as well.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-784" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-784">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-784" class = 'collapse'>
			</div>
				<textarea id = "speech-784" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-784">
					<img id="start_img-784" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-784">Comment</button>
			<br><div id = "ans-785"  class = "post">
				<h2>Answer</h2>
			<div id="vote-785" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can't comment on Epiphany, but you can absolutely connect additional RAM to an XMOS to be able to run ROS if the onboard 64KB/core RAM isn't sufficient. Check out the libraries on the XCore Github page: </p>

<ul>
<li><a href="http://github.xcore.com/repo_index/sc_sdram_readme.html" rel="nofollow">SDRAM</a></li>
<li><a href="http://github.xcore.com/repo_index/sc_sdram_burst_readme.html" rel="nofollow">SDRAM burst mode</a></li>
<li><a href="http://github.xcore.com/repo_index/sc_fram_if_readme.html" rel="nofollow">SPI FRAM</a></li>
<li><a href="http://github.xcore.com/repo_index/sc_sram_readme.html" rel="nofollow">SRAM</a> </li>
</ul>

<p>The <a href="http://github.xcore.com/repo_index/proj_xmp64_readme.html" rel="nofollow">XK-XMP-64</a> reference design has onboard SDRAM and the PDF schematics are in the Git repository if you want to go that route.</p>

<p>I'm picturing a lot of wrapper functions to call ROS functions and pass/stream data between threads with the XMOS inter-thread communication channels. There's a lot of design decisions you would have to make with respect to what threads to run on which cores -- if you run multiple threads on the same core, the 400-500 MIPS per core is split among them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-785" data-toggle = "popover">
				<p>user name : Joe Baker</p>
				<p> user reputation : 477</p>
				<p class = "tagcontent" id = "usertaginfo-785">{'None': 33}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-785">Load Comments</button></br>
			<div id = "commentsection-785" class = 'collapse'>
			<div id = "comment-2044" class = "comment">
				<p>Additionally, I can recommend to follow [Synapticon](http://www.synapticon.com/)'s effort in creating a client library (rosc) for their XMOS-based devices. That might be something you are looking for.</p>
			</div>
			</div>
				<textarea id = "speech-785" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-785">
					<img id="start_img-785" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-785">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>