<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Write an Elevator Pitch ~ Tagline
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-134" class = "post">
			<h2>Question</h2>
			<div id="vote-134" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 327</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Write an Elevator Pitch ~ Tagline</h2>
<p><em>We closed the <a href="https://apple.meta.stackexchange.com/questions/9/domain-name-suggestions">domain naming thread (click for details)</a>.</em> </p>

<p>Instead, <strong>let's start with a killer "elevator pitch!"</strong> Joel will be blogging about the elevator pitch approach to naming, but to get you started: </p>

<h2>The Elevator Pitch</h2>

<p>This isn't as easy as it sounds. Imagine the user who will never read your FAQ and you have two seconds to grab their attention. It should be catchy but descriptive. It should be thoroughly clear but painfully concise. <strong>Make every... word... count.</strong> </p>

<p>Here are some creative examples: </p>

<ul>
<li><a href="http://gawker.com/" rel="nofollow noreferrer">Gawker</a>: Daily Manhattan media news and gossip. Reporting live from the center of the universe. </li>
<li><a href="http://gizmodo.com/" rel="nofollow noreferrer">Gizmodo</a>: The gadget guide. So much in love with shiny new toys, it s unnatural. </li>
<li><a href="http://www.autoblog.com/" rel="nofollow noreferrer">Autoblog</a>: We obsessively cover the auto industry. </li>
<li><a href="http://www.dumblittleman.com/" rel="nofollow noreferrer">DumbLittleMan</a>: So what do we do here? Well, it s simple. 15 to 20 times per week we provide tips that will save you money, increase your productivity, or simply keep you sane. </li>
<li><a href="http://www.needcoffee.com/" rel="nofollow noreferrer">Needcoffee.com</a>: We are the Internet equivalent of a triple espresso with whipped cream. Mmmm whipped cream. </li>
</ul>

<h2>Use it as a Tagline</h2>

<p>A shorter elevator pitch <em>can</em> be used as a tagline&thinsp;&mdash;&thinsp;something you can display in the header at the top of the page. If it doesn't fit, consider shortening it or creating a separate tagline. Here are some great examples: </p>

<ul>
<li><a href="http://slashdot.org/" rel="nofollow noreferrer">Slashdot</a>: News for nerds. Stuff that matters. </li>
<li><a href="http://www.lifehacker.com/" rel="nofollow noreferrer">Lifehacker</a>: Don t live to geek, geek to live! </li>
<li><a href="http://www.thesimpledollar.com/" rel="nofollow noreferrer">The Simple Dollar</a>: Financial talk for the rest of us. </li>
</ul>

<h2>The Motto (don't forget <a href="https://apple.meta.stackexchange.com/questions/107/what-should-our-logo-and-site-design-be-like">your logo</a>)</h2>

<p>A logo begs for it own little, short tagline&thinsp;&mdash;&thinsp;like a motto. Maybe the tagline inspires the logo; Maybe it's the other way around. Mottos make good t-shirt, bumper stickers, and other marketing material. Either way, you'll recognize a good motto when you see it: </p>

<ul>
<li>Just do it. </li>
<li>Think Different. </li>
<li>The Uncola. </li>
<li>Intel inside. </li>
<li>Like a rock. </li>
<li>The king of beers. </li>
</ul>

<p>&hellip;and perhaps all this leads to a proper name and domain for your site&hellip; <em>eventually</em>. So let's start from the basics. <strong>Come up with a killer elevator pitch, tagline, and/or motto!</strong> </p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-134">Load Comments</button></br>
			<div id = "commentsection-134" class = 'collapse'>
			<div id = "comment-1669" class = "comment">
				<p>A noob question from me: Are we exploring replacing "Answers for your Apple questions"?</p>
			</div>
			</div>
				<textarea id = "speech-134" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-134">
					<img id="start_img-134" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-134">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-143"  class = "post">
				<h2>Answer</h2>
			<div id="vote-143" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>I am not a PC.</strong></p>

<p>pretty horrid but it expresses my disposition :P</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-143" class = 'collapse'>
			</div>
				<textarea id = "speech-143" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-143">
					<img id="start_img-143" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-143">Comment</button>
			<br><div id = "ans-151"  class = "post">
				<h2>Answer</h2>
			<div id="vote-151" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>The Different Answers</strong> </p>

<p>That s how we try to do it anyway  :)</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-151" class = 'collapse'>
			</div>
				<textarea id = "speech-151" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-151">
					<img id="start_img-151" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-151">Comment</button>
			<br><div id = "ans-336"  class = "post">
				<h2>Answer</h2>
			<div id="vote-336" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>The hook</h2>

<p>Mac users think differently, we work differently, we use our computers differently... why then should we get answers the same way everyone else does? </p>

<h2>The line</h2>

<p>Why not <strong>Ask Differently</strong>?</p>

<h2>The sinker</h2>

<p>That's what we are, a different way for Apple users to connect with each other to find solutions to their problems and answers to their questions from a trusted community of fellow users.</p>

<hr>

<p>ok, the above follows an approach to the "elevator pitch" I learned a long time ago in school. Three parts: hook, line and sinker. When presented the hook and line always go together. If you got anything resembling a positive reaction, you followed up with the sinker. (yes, it's a poor analogy to fishing. The sales guys that were teaching that communications class could never give a good answer for why those names were used when the first two should be reversed.)</p>

<p>Hat tip to the folks on the domain name thread for 'ask differently'.</p>

<p>options: "Apple" or "Mac"... I ended up using both, not sure if we've got a clear definition of which we want here. The work item could come out of the hook to tighten it up, or if you have space it could be expanded to add in a play clause... or any other verb, similar to the PS3 "It only does..." hook.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-336">Load Comments</button></br>
			<div id = "commentsection-336" class = 'collapse'>
			<div id = "comment-738" class = "comment">
				<p>would be nice if the down voters could explain what they don't like about it.</p>
			</div>
			</div>
				<textarea id = "speech-336" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-336">
					<img id="start_img-336" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-336">Comment</button>
			<br><div id = "ans-1196"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1196" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This isn't originally my suggestion, but the original post isno longer here, and for historical reasons, I think this should be archived.</p>

<p>The tagline/Elevator pitch for the site should be (and, in fact, is)</p>

<h1>Ask Different</h1>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1196" class = 'collapse'>
			</div>
				<textarea id = "speech-1196" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1196">
					<img id="start_img-1196" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1196">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>