<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>writing a simple program for processing RGBD video with OpenNI
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2481" class = "post">
			<h2>Question</h2>
			<div id="vote-2481" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 142</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>writing a simple program for processing RGBD video with OpenNI</h2>
<p>I would like to write a simple program which processes the depth feed from an Asus xtion depth sensor using OpenNI. The sensor will be fixed like a CCTV camera and count multiple targets moving around. </p>

<p>The processing would involve some simple functions on each frame (background subtraction, level sets, connected components filter), and some multi-target tracking across frames. I have searched the web, but it is hard to see how best to get started (and I'm also quite new to programming in C). </p>

<p>Can anyone recommend any existing code that can help to get started / any libraries which would be suitable for this real-time application? Or perhaps there is some opensource code which already does such a thing? Would really appreciate any pointers from anyone with experience. Thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2481" data-toggle = "popover">
				<p>user name : LPlates</p>
				<p> user reputation : 15</p>
				<p class = "tagcontent" id = "usertaginfo-2481">{'control': 1, 'None': 0, 'openni': 1, 'real-time': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2481">Load Comments</button></br>
			<div id = "commentsection-2481" class = 'collapse'>
			<div id = "comment-4827" class = "comment">
				<p>Is this _really_ a [real-time application](https://en.wikipedia.org/wiki/Real-time_computing#Criteria_for_real-time_computing)? Are you coding microcontrollers or using a real-time operating system?</p>
			</div>
			<div id = "comment-4828" class = "comment">
				<p>It's real-time in the sense that the counting data will be acted upon, so it needs to be calculated as soon as new data arrives (although a small lag would be acceptable)</p>
			</div>
			</div>
				<textarea id = "speech-2481" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2481">
					<img id="start_img-2481" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2481">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2484"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2484" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I work with ASUS Xtion as well. The best library that I found so far and I am using daily is <strong>Point Cloud Library</strong> (<strong>PCL</strong>). You can find, download, and Install it from <a href="http://pointclouds.org/" rel="nofollow">here</a>.</p>

<p>After installing and getting it to work, you can go to the tutorial section of the website, and there is a <a href="http://pointclouds.org/documentation/tutorials/ground_based_rgbd_people_detection.php#ground-based-rgbd-people-detection" rel="nofollow">very good tutorial</a> similar to what you want. There is a <strong>pcl_people module</strong> that you can start from.</p>

<p>This tutorial aims at explaining how to detect people from <strong>RGB-D</strong> data with the <strong>pcl_people module</strong>. With the proposed method, people standing/walking on a planar ground plane can be detected in <strong>real time</strong> with standard CPU computation. This implementation corresponds to a people detection algorithm for RGB-D data.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2484" data-toggle = "popover">
				<p>user name : NKN</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-2484">{'None': 0, 'ros': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2484">Load Comments</button></br>
			<div id = "commentsection-2484" class = 'collapse'>
			<div id = "comment-4829" class = "comment">
				<p>thanks - the website seems to be a bit slow at th moment but i'll check this out</p>
			</div>
			</div>
				<textarea id = "speech-2484" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2484">
					<img id="start_img-2484" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2484">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>