<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>WWDC - Sponsorship Proposal
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1314" class = "post">
			<h2>Question</h2>
			<div id="vote-1314" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 253</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>WWDC - Sponsorship Proposal</h2>
<p><strong>Context:</strong> This post follows the guidelines <a href="https://meta.stackexchange.com/questions/132282/how-can-i-get-stack-exchange-to-send-me-to-a-conference">placed here (link)</a> for StackExchange conference attendance sponsorship.</p>

<p>I got an email on friday from Apple that I've been awarded an <a href="https://developer.apple.com/wwdc/scholarships/" rel="nofollow noreferrer">Apple WWDC Student Scholarship.</a> (The WWDC student scholarship is essentially just a free conference ticket. Scholarships were offered to student developers ages 13 and up.) I'm going to San Francisco for the event. Yay! I'd like to get a StackExchange sponsorship to cover airfare and hotel stay if possible.</p>

<ul>
<li><p><strong><em>Who</strong> is going?</em></p>

<p>I'm going.</p></li>
<li><p><strong><em>What</strong> conference is it, and what will you be doing there, besides attending?</em></p>

<p>WWDC is Apple's annual developer conference. Typically, Apple announces updates to iOS and Mac OS and occasionally some other cool things. I'll be just attending, unless you consider being awesome "doing something", cuz I'll be doing that to. If the community approves, I'll also be promoting AskDifferent.</p></li>
<li><p><strong><em>When</strong>  is the conference running? We need at least a month s lead time to help you get your approval. If you re under or near that before posting, you might want to think about next year instead.</em></p>

<p>The conference runs in just about a month from now, from June 11th through the 15th, 2012. It might be a bit late, but I only found out about the scholarship on Friday.</p></li>
<li><p><strong><em>Where</strong>  is the conference located and how do you intend to get there?</em></p>

<p>The conference is Moscone West in San Francisco, California. I'm in New York City so I plan to fly out. My iPhone doesn't have teleportation built in - yet. </p>

<p>"Siri, take me to Moscone West at -" </p>

<p>"I know where Moscone West is, thank you. Please adjust your helmet and tell me when you're ready to go."</p></li>
<li><p><strong><em>Why</strong> should the community approve you to go to this sponsorship? More importantly, why should the community approve going to this specific conference? Basically, what will you do to bring this learning back to the community?</em></p>

<p>I'm a long time member of the StackExchange network. I've been active on StackOverflow for over two years. I've got 11 gold badges including fanatic. I was among those awarded the first batch of AskDifferent Swag. I also won an iPod in the recent new iPad contest. So, yea, I participate.</p>

<p>I've met with Lauren and Seth at StackExchange HQ in the New York and brought back swag to my class in college, and promoted English.SE there. (Thanks guys, that was awesome.) I'm constantly pushing StackExchange to friends, classmates, coworkers and more. This would be another opportunity to do that. </p>

<p>WWDC is chock full of Apple and that's the exact audience of this site. It would be an opportunity to bring more experts users to one of the best Apple websites on the internet. I love speaking and meeting people. StackExchange is something that I can get excited about, and I will do my best, if approved, to promote AskDifferent at WWDC.</p>

<p>Again, my ticket is already paid for by Apple. A StackExchange sponsorship would cover airfare (around $500 or so) and hotel stay. (Although I'm looking into another option which would eliminate the hotel costs altogether.) </p></li>
</ul>

<p><strong>edit:</strong></p>

<p>I've been developing <a href="http://apps.mosheberman.com" rel="nofollow noreferrer">apps</a> for over 2 years now. Most of my work is geared to the Jewish community, but I've got <a href="http://itunes.apple.com/us/app/nippon/id415518235?mt=8" rel="nofollow noreferrer">a game</a> on the store and <a href="http://blog.mosheberman.com/meet-team-moflotz/" rel="nofollow noreferrer">I'm working on an RPG</a> as well. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1314" data-toggle = "popover">
				<p>user name : Moshe</p>
				<p> user reputation : 4663</p>
				<p class = "tagcontent" id = "usertaginfo-1314">{'None': 9, 'discussion': 1, 'status-completed': 26, 'feature-request': 26, 'status-bydesign': 4, 'bug': 4, 'site-promotion': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1314">Load Comments</button></br>
			<div id = "commentsection-1314" class = 'collapse'>
			<div id = "comment-2496" class = "comment">
				<p>[*Moscone*](http://www.moscone.com/site/do/index)</p>
			</div>
			<div id = "comment-2497" class = "comment">
				<p>Whoops, thanks.</p>
			</div>
			<div id = "comment-2498" class = "comment">
				<p>Cool, tell us more about the Scholarship thing, and what stuff you develop.</p>
			</div>
			<div id = "comment-2499" class = "comment">
				<p>@stuffe edited.</p>
			</div>
			<div id = "comment-2500" class = "comment">
				<p>Moshe - It's up to you to think through what site you might want to ask to sponsor you. In [chat, I put words to my thinking](http://chat.stackexchange.com/transcript/message/4597729#4597729) but I'd be more inclined to support some AD swag for this developer conference and perhaps seek financial support from a more developer centric meta like MSO or programmers rather than here. Again - it's totally your call. This speakers-bureau is very new, so no one really knows how it will work yet.</p>
			</div>
			</div>
				<textarea id = "speech-1314" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1314">
					<img id="start_img-1314" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1314">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>